RewriteEngine On

# Verifica se o arquivo ou diretório solicitado não existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescreve URLs baseadas em uma lista de páginas
RewriteRule ^(usuarios|grupo_acessos|acessos|receber|pagar|formas_pgto|frequencias|funcionarios|fornecedores|cargos|clientes|home|caixas|tarefas|tipos_servicos|abertura_contratos|contratos|rel_contratos|processos_andamento|processos|audiencias)$ index.php?pagina=$1 [L]

# Reescreve /index para index.php
RewriteRule ^index$ index.php [L]

# Redireciona a raiz do site para a página home
RewriteRule ^$ index.php?pagina=home [L]
